body{
    background-color: #ffffff;
}

.header{
    background-color: #ffffff;
    max-width: 1300px;
    margin: 50px 100px 0px 100px;
    display: flex;
    justify-content: center;
    gap: 700px;
}

.header-logo{
    width: 243px;
    height: 52.2px;
}

.header-logo h2{
    font-size: 24px;
    font-weight: bold;
    font-style: poppins;
    color: #3a3a3a;  
    
}

.menu-1{
    display: flex;
    gap: 30px;
}
.menu-1 li{
    list-style-type: none;
}

.banner{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    display: flex;
}

.banner-contain{
    width: 582px;
    height: 270px;
    margin-top: 50px;
}
.banner-contain h1{
    font-size: 50px;
    color: #3a3a3a;
    font-weight: 600px;
}

.banner-img{
    width: 440px;
    height: 414px;
    background-image: url(images/Circle\ design.svg);
    margin-left: 220px;
}
.btn{
    background-color: #E02C6D;
    padding: 10px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.btn-2{
    font-size: 18px;
    border: none;
    margin-left: 1200px;
    margin-top: 20px;
    color: #E02C6D;
    cursor: pointer;
}
.btn-3{
   background-color: #E02C6D;
    padding: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer; 
    font-size: 16px; 
}
.sponcer{
    width: 1000px;
    margin-left: 250px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
  padding-top: 30px;
  gap: 40px;
  margin-top: 50px;
margin-bottom: 50px;
padding-bottom: 30px;
}

.products{
    display: grid;
    gap: 30px;
    margin-left: 150px;
    margin-right: 80px;
    grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 20px 100px 20px 100px;

}
.products-card img{
    width: 300px;
}

.products-card{
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.464);
   margin-bottom: -0px;
   background-color: white;
}

.gear{
    display: flex;
    margin-left: 230px;
    margin-top: 150px;
    margin-right: 150px;
}
.gear-contain{
    margin-left: 100px;
    margin-top: 30px;
}

.footer{
    height: 230px;
    width: 1500px;
    background-color:#0A0826 ;
    margin-top: 50px;
}
.footer-contain{
    color: white;
    text-align: center;
    padding-top: 50px;
}


@media screen and (max-width:576px){
   .footer-contain{
    color: black;
    text-align: center;
    padding-top: 50px;
}
.header{

    max-width: 56px;
    margin: 0px 0px 0px 0px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.banner{
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    display: flex;
}
.banner-contain{
    width: 414px;
    height: 222px;
    margin-top: 50px;
}
.banner-contain h1{
    font-size: 30px;
    color: #3a3a3a;
    
}
.products{
    display: grid;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  padding: 0px 0px 0px 0px;

}
.banner-img{
    width: 140px;
    height: 114px;
    background-image: url(images/Circle\ design.svg);
    margin-left: 0px;
}

}

