body{
    background-color: #ffffff;
}

.header{
    background-color: #ffffff;
    max-width: 1300px;
    margin: 80px 100px 0px 100px;
    display: flex;
    justify-content: center;
    gap: 700px;
}

.header-logo{
    width: 243px;
    height: 52.2px;
}

.header-logo h2{
    font-size: 24px;
    font-weight: bold;
    font-style: poppins;
    color: #3a3a3a;  
    
}

.menu-1{
    display: flex;
    gap: 30px;
}
.menu-1 li{
    list-style-type: none;
}

.banner{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    display: flex;
}

.banner-contain{
    width: 582px;
    height: 270px;
    margin-top: 50px;
}
.banner-contain h1{
    font-size: 50px;
    color: #3a3a3a;
    font-weight: 600px;
}

.banner-img{
    width: 440px;
    height: 414px;
    background-image: url(images/Circle\ design.svg);
    margin-left: 220px;
}
.btn{
    background-color: #E02C6D;
    padding: 10px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.sponcer{
    width: 1000px;
    margin-left: 250px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
  padding-top: 30px;
  gap: 40px;
  margin-top: 50px;
margin-bottom: 50px;
padding-bottom: 30px;
}

.products{
    display: grid;
    gap: 30px;
    margin-left: 150px;
    margin-right: 80px;
    grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 20px 100px 20px 100px;

}
.products-card img{
    width: 300px;
}

.products-card{
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.464);
   margin-bottom: -0px;
   background-color: white;
}